<div class="jumbotron">
    <div class>

        <div class="row">

            <div class="col-3"></div>
            <div class="col-6 text-center jumbotron bg-warning">

                <form action="" class="mt-3">
                    <label for="" class="form-group">Enter Name</label>
                </form>
                <form action="">
                    <input type="text" name="" id="" class="form-control">
                </form>



                <form action="" class="mt-3">
                    <label for="" class="form-group">Enter Email:</label>
                </form>
                <form action="">
                    <input type="email" name=" " id=" " class="form-control ">
                </form>


                <form action=" " class="mt-3 ">
                    <label for=" " class="form-group ">Enter Password:</label>
                </form>
                <form action=" ">
                    <input type="password" name=" " id=" " class="form-control ">
                </form>


                <form action=" " class="mt-3 ">
                    <label for=" " class="form-group ">Enter Mobileno:</label>
                </form>
                <form action=" ">
                    <input type="text " name=" " id=" " class="form-control ">
                </form>

            </div>
            <div class="col-3 ">




            </div>
        </div>
        <div class="text-center mt-3 ">
            <button class="btn btn-success ">Register</button>
        </div>

    </div>
</div>